//===============================//
//        NAVIGATION BAR        //
//==============================//

.bg-white {
    background-color: black;
}

.navbar-brand {
    color: #fff;
}

.nav-link {
    color: #fff;
}